/* rtl */
.salavat-counter.rtl {
  direction: rtl;
  text-align: right;
}



/* ltr */
.salavat-counter.ltr {
  direction: ltr;
  text-align: left;
}



/* all */
.widget_salavat_shomar .awaiting-mod  , .shortcode.salavat-counter .awaiting-mod {
  background-color: #8ea658;
  border-radius: 10px;
  clear: both;
  color: #fff;
  display: block;
  font-size: 9px;
  font-weight: 600;
  line-height: 17px;
  margin: 10px auto;
  text-align: center;
  vertical-align: top;
  width: 95%;
  z-index: 26;
}

.widget_salavat_shomar .awaiting-mod span , .shortcode.salavat-counter .awaiting-mod span{
  display: block;
  font-size: 12pt;
  padding: 10px 6px;
  word-wrap: break-word;
}

.salavat-counter p {
  font-size: 1em;
  text-align: center;
}

.salavat-counter .sc-say-salavat {
  background: #8ea658 !important;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #fff !important;
  cursor: pointer;
  font-family: tahoma;
  font-weight: bold;
  line-height: 14px !important;
  padding: 6px;
  width: 90%;
}

.salavat-counter img.salavat_gif {
  display: block;
  margin: auto;
  width: 95%;
}
.shortcode.salavat-counter {
  margin: auto;
  width: 300px !important;
}
.salavat-for span {
  font-size: 1.3em;
  text-align: center;
  width: 95%;
}